
<div data-aos="fade-up" class="card" >
        <a class="postUsername" href="/user/{{user.id}}">{{user.username}}</a>
        <h3>{{post_title}}</h3>
        <h5>{{format_date createdAt}}</h5>
        {{!-- for user avatar --}}
        {{!-- <div class="useravatar" style="height:25px; width: 25px;"></div> --}}
        <p>{{post_body}}</p>
        <a href="/post/{{id}}" class="commentBtn btn btn-primary "> Comments </a>
</div>