{{!-- Bio Edit Modal --}}
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Your Bio</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >About Me</label>
          <textarea name="about_me" type="text" id="orangeForm-name" maxlength="255" class="form-control">{{user.about_me}}</textarea>
          
        </div>
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="orangeForm-email">Favorite Pokemon</label>
          <input name="fav_pokemon" type="text" id="orangeForm-email" class="form-control" maxlength="20" value="{{user.fav_pokemon}}">
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Favorite Game</label>
          <input name="fav_game" type="text" id="orangeForm-pass" class="form-control" maxlength="20" value="{{user.fav_game}}">
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-deep-orange" id="bio-save">Save</button>
      </div>
    </div>
  </div>
</div>


<div data-aos="fade-up" class="row">
  <div class="leftcolumn">
    <div class="card">

      <h2>{{user.username}}</h2>
      {{#if user.about_me}}
      <h3>About Me</h3>
      <p>{{user.about_me}}</p>
      {{/if}}
      {{#if user.fav_pokemon}}
      <h3>Favorite Pokemon</h3>
      <div>{{user.fav_pokemon}}</div>
      {{/if}}
      {{#if user.fav_game}}
      <h3>Favorite Game</h3>
      <div>{{user.fav_game}}</div>
      {{/if}}

      {{!-- <div class="favimg">String</div><br>
      <div class="favimg">of the User's</div><br>
      <div class="favimg">Favorite</div><br>
      <div class="favimg">Pokemon</div> --}}
      {{#if myProfile}}
      <form class="newpost">
        <p></p>
        <input class="button" name="titleName" type="text" placeholder="Title"><br>
        <textarea class="button postfield" name="postBody" type="text"
          placeholder="What's on your mind?"></textarea><br>
        {{!-- <input class="button postfield" name="postBody" type="text" placeholder="What's on your mind?"><br> --}}
        <button class="button">New Post</button>
      </form><br>
      <div class="followbutton">
        <button class="button" data-toggle="modal" data-target="#modalRegisterForm">Edit Bio</button>
      </div>
      {{/if}}
      {{#unless myProfile}}
      {{#if loggedIn}}
      {{#if following}}
      <div class="followbutton">
        <button class="button" id="unfollow-btn">Unfollow</button>
      </div>
      {{else}}
      <div class="followbutton">
        <button class="button" id="follow-btn">Follow</button>
      </div>
      {{/if}}
      {{/if}}
      {{/unless}}
      



    </div>
    {{#if user.posts}}
    <div class="card">
      {{#each user.posts as |post|}}
      {{>postinfo post}}
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>


<script src="/js/post.js"></script>
<script src="/js/bio.js"></script>
<script src="/js/follow.js"></script>
<script src="/js/unfollow.js"></script>